html {
    height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    user-select: none;
}

/* Headings overrides */

#views h2.display-2 {
    font-size: 7vmin;
}

/* Voting overlay */

div#voting-voted-overlay {
    position: absolute;
    z-index: 10000;
    background: radial-gradient(circle, #149314, #107810);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

div#voting-voted-overlay h1 {
    font-size: 9vmax;
}

div#voting-voted-overlay:not(.active),
div#voting-voted-overlay:not(.active) .touch-skipper,
.i-am-away
{
    height: 0 !important;
    width: 0 !important;
    left: -9999999px;
}

div#voting-voted-overlay.active {
    opacity: 1;
}

div#voting-voted-overlay > * {
    opacity: 0;
    -webkit-transition: opacity 1.2s cubic-bezier(1.000, 0, 0.685, 0.765); /* older webkit */
    -webkit-transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
    -moz-transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
    -o-transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
    transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
}

div#voting-voted-overlay.active > * {
    opacity: 1;
}

/* Results table overrides */

table.table-border {
    border: 1px solid #dee2e6;
}

/* file loader styles */

.loader .loader-dragndrop,
.loader .loader-uploading,
.loader .loader-success,
.loader .loader-error
{
    display: none;
}

.loader {
    background-color: lightgray;
    border: 2px solid black;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 5px;
}
.loader.has-advanced-upload .loader-dragndrop {
    display: inline;
}

.loader.loader-is-dragover:not([data-haderror]) {
    box-shadow: inset 0 0 25px 5px rgba(0, 0, 0, 0.6);
}

.loader:hover,
.loader.loader-is-dragover,
.loader[data-haderror]
{
    background-color: #218838;
    color: white;
}

.loader .loader-input label {
    transition: text-shadow 0.3s ease-in-out;
}

.loader:hover .loader-input label,
.loader.loader-is-dragover .loader-input label,
.loader[data-haderror] .loader-input label
{
    text-shadow: 2px 2px black;
}

.loader .loader-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
}

.loader label {
    cursor: pointer;
}

/* Custom checkbox style */

.boot-checkbox {
	display: none;
}

.boot-checkbox + label {
	border: 1px solid #ced4da;
	border-radius: .25rem;
    position: relative;
    margin: 0;
    padding: 1.1rem;
}

.boot-checkbox + label:active,
.boot-checkbox:checked + label:active
{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.boot-checkbox:checked + label {
	border: 1px solid #9ca6ad;
	box-shadow: inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.boot-checkbox:checked + label:after {
	content: '\2713';
	font-size: 1.5rem;
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

/* Fix bootstrap border utilities */

@media (max-width:768px){
    .border-right.border-right-no-medium {
        border-right: none !important;
    }
}
