html {
    height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    user-select: none;
}

div#voting-voted-overlay {
    position: absolute;
    z-index: 10000;
    background: radial-gradient(circle, #149314, #107810);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

div#voting-voted-overlay:not(.active) {
    height: 0 !important;
    width: 0 !important;
    left: -9999999px
}

div#voting-voted-overlay.active {
    opacity: 1;
}

div#voting-voted-overlay > * {
    opacity: 0;
    -webkit-transition: opacity 1.2s cubic-bezier(1.000, 0, 0.685, 0.765); /* older webkit */
    -webkit-transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
    -moz-transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
    -o-transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
    transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
}

div#voting-voted-overlay.active > * {
    opacity: 1;
}

table.table-border {
    border: 1px solid #dee2e6;
}

/* file loader styles */

.loader .loader-dragndrop,
.loader .loader-uploading,
.loader .loader-success,
.loader .loader-error {
    display: none;
}

.loader.has-advanced-upload {
    background-color: lightgray;
    border: 2px solid black;
    outline: 0px dashed black;
    outline-offset: -3px;
    transition: outline-offset 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 5px;
}
.loader.has-advanced-upload .loader-dragndrop {
    display: inline;
}

.loader.loader-is-dragover {
    background-color: #218838;
    color: white;
    outline: 2px dashed black;
    outline-offset: -15px;
}

.loader:hover {
    background-color: #218838;
    color: white;
}

.loader .loader-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
}

.loader label {
    cursor: pointer;
}
