html {
    height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    user-select: none;
}

a {
    cursor: pointer;
}

/* Headings overrides */

#views h2.display-2 {
    font-size: 7vmin;
}

/* Voting tweaks */

div#voting-page input.spinner[type="number"] + div.input-group > input:not([readonly]) {
    background-color: #f6f6f6;
}

div#voting-page input.spinner[type="number"] + div.input-group > input[readonly] {
    font-style: italic;
    font-weight: normal !important;
}

/* Voting overlay */

div#voting-voted-overlay {
    position: absolute;
    z-index: 10000;
    background: radial-gradient(circle, #13a313, #107810);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

div#voting-voted-overlay h1 {
    font-size: 9vmax;
}

div#voting-voted-overlay h2 {
    font-size: 5.5vmax;
}

div#voting-voted-overlay:not(.active),
div#voting-voted-overlay:not(.active) .touch-skipper,
.i-am-away
{
    height: 0 !important;
    width: 0 !important;
    left: -9999999px;
}

div#voting-voted-overlay.active {
    opacity: 1;
}

div#voting-voted-overlay > * {
    opacity: 0;
    -webkit-transition: opacity 1.2s cubic-bezier(1.000, 0, 0.685, 0.765); /* older webkit */
    -webkit-transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
    -moz-transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
    -o-transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
    transition: opacity 1.2s cubic-bezier(1.000, -0.335, 0.685, 0.765);
}

div#voting-voted-overlay.active > * {
    opacity: 1;
}

div#voting-voted-overlay img {
    -webkit-filter: drop-shadow(0px 5px 10px #222);
    filter:         drop-shadow(0px 5px 10px #222);
}

/* Results table overrides */

table.table-border {
    border: 1px solid #dee2e6;
}

/* file loader styles */

.loader.loader-disabled {
    opacity: .65;
    border: 2px solid darkgray;
}

.loader .loader-dragndrop,
.loader .loader-uploading,
.loader .loader-success,
.loader .loader-error
{
    display: none;
}

.loader {
    background-color: lightgray;
    border: 2px solid black;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 5px;
}
.loader.has-advanced-upload .loader-dragndrop {
    display: inline;
}

.loader:not(.loader-disabled).loader-is-dragover:not([data-haderror]) {
    box-shadow: inset 0 0 25px 5px rgba(0, 0, 0, 0.6);
}

.loader:not(.loader-disabled):hover,
.loader:not(.loader-disabled).loader-is-dragover,
.loader:not(.loader-disabled)[data-haderror]
{
    background-color: #218838;
    color: white;
}

.loader:not(.loader-disabled) .loader-input label {
    transition: text-shadow 0.3s ease-in-out;
}

.loader:not(.loader-disabled):hover .loader-input label,
.loader:not(.loader-disabled).loader-is-dragover .loader-input label,
.loader:not(.loader-disabled)[data-haderror] .loader-input label
{
    text-shadow: 2px 2px black;
}

.loader .loader-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
}

.loader:not(.loader-disabled) label {
    cursor: pointer;
}

/* Custom checkbox style */

.boot-checkbox {
    display: none;
}

.boot-checkbox + label {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: relative;
    margin: 0;
    padding: 1.1rem;
    height: calc(1.5em + .75rem + 2px);
}

.boot-checkbox + label:active,
.boot-checkbox:checked + label:active
{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.boot-checkbox:checked + label {
    border: 1px solid #9ca6ad;
    box-shadow: inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.boot-checkbox + label:after {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.boot-checkbox:checked + label:after {
    content: '\2713';
}

.checkbox-eye.boot-checkbox {
    /* Fix non-cached image not loading directly when toggling checked and not */
    background: url(../images/open-eye.png) -9999px -9999px no-repeat;
    background-size: 0 0;
}

.checkbox-eye.boot-checkbox:not(:checked) + label {
    background: url(../images/closed-eye.png) 0 0px no-repeat;
    background-size: 100% 100%;
}

.checkbox-eye.boot-checkbox:checked + label {
    border: 1px solid #ced4da;
}

.checkbox-eye.boot-checkbox:checked + label:after {
    background: url(../images/open-eye.png) 0 0px no-repeat;
    background-size: 100% 100%;
    content: '';
}

/* Add collapsible spans and ellipsis */

span.collapse {
    display: inline;
    position: static;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -ms-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}

span.collapsing {
    display: inline;
    position: static;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -ms-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}

span.collapse.show {
    display: inline;
    position: static;
    opacity: 1;
}

span.collapsing + span.collapse-ellipsis,
span.collapse.show + span.collapse-ellipsis
{
    opacity: 0;
}

/* Fix bootstrap border utilities */

@media (max-width:768px){
    .border-right.border-right-no-medium {
        border-right: none !important;
    }
}
